.live-title {
  height: 4.7rem;
  margin-bottom: 0;
}

.live-title img {
  width: auto;
  height: 4rem;
}

.live-slide-wrap {
  height: 455px;
}

.live-slide-item {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 1.2rem;
}

.live-link {
  height: 100%;
  display: block;
}

.live-img {
  width: 100%;
}

.img-close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 0;
  background: linear-gradient(
      0deg,
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 18.65%, transparent 39.78%),
    linear-gradient(180deg, transparent 56.75%, rgba(0, 0, 0, 0.4) 87.59%);
}

.img-open::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 18.65%,
      transparent 39.78%
    ),
    linear-gradient(180deg, transparent 56.75%, rgba(0, 0, 0, 0.5) 87.59%);
}

.live-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
}

.live-info {
  position: absolute;
  top: 2rem;
  width: 100%;
  padding: 0 2rem;
}

.live-info li {
  font-weight: 700;
  color: #fff;
}

.live-info li .black {
  height: 3.2rem;
  display: inline-block;
  margin-bottom: 0.8rem;
  padding: 0 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  line-height: 3.2rem;
  border-radius: 1.6rem;
}

.live-info li .red {
  height: 3.2rem;
  display: inline-block;
  margin-bottom: 0.8rem;
  padding: 0 1.2rem;
  background-color: rgba(239, 62, 67, 1);
  font-size: 1.3rem;
  line-height: 3.2rem;
  border-radius: 1.6rem;
}

.live-info li span {
  display: -webkit-box;
  overflow: hidden;
  font-size: 2rem;
  line-height: 2.4rem;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.live-day {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.live-day li {
  z-index: 1;
  color: #fff;
}

.live-day-date {
  font-size: 2.8rem;
  line-height: 3.35rem;
}

.live-day-time {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.live-product {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  z-index: 1;
  box-sizing: border-box;
}

.live-product-img {
  position: absolute;
  left: 2rem;
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  border-radius: 0.6rem;
}

.live-product-img img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  object-fit: cover;
}

.live-product-info {
  width: calc(100% - 6.4rem - 1.2rem);
}

.live-product-info li {
  margin-top: 0.7rem;
}

.live-product-title {
  width: 100%;
  display: block;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #fff;
  white-space: nowrap;
}

.live-product-discount {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ef3e43;
}

.live-product-price em,
.live-product-discount em {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.live-product-price {
  vertical-align: bottom;
  font-size: 1.6rem;
  color: #fff;
}

.live-preparing {
  background: url(../images/live/livebg.jpg) no-repeat 50%;
  background-size: cover;
}

.live-preparing-link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.live-preparing-info {
  text-align: center;
}

.preparing-img {
  height: 3.25rem;
}

.preparing-txt {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.8);
}

.preparing-btn {
  height: 4.2rem;
  display: inline-block;
  margin-top: 1.4rem;
  padding: 0 1.6rem;
  border: 0.1rem solid hsla(0, 0%, 100%, 0.5);
  font-size: 1.6rem;
  line-height: 4.2rem;
  color: #fff;
  text-align: center;
  border-radius: 2.1rem;
}
