.footer {
  margin: 3rem auto 0;
  padding: 0;
  background-color: #fff;
}

.footer-top {
  max-width: none;
  height: 5rem;
  margin-top: 0;
  padding: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.footer-list {
  width: 128rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-list li {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 3.1rem;
  line-height: 1.7rem;
  box-sizing: border-box;
}

.footer-list li:first-child {
  padding-left: 0;
}

.footer-list li:last-child {
  padding-right: 0;
}

.footer-list > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.1rem;
  height: 1.2rem;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.footer-list li:first-child::before {
  display: none;
}

.footer-list li a,
.footer-list li button,
.list-hover ul li a {
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

.footer-list li button::after {
  content: "";
  width: 0.8rem;
  height: 0.6rem;
  display: inline-block;
  margin-left: 0.4rem;
  vertical-align: 0.1rem;
  background: url(../images/footer_arrow.svg) no-repeat 50%;
}

.list-hover {
  position: absolute;
  top: 3.8rem;
  right: 2rem;
  display: none;
  padding: 1.6rem;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #fff;
  border-radius: 0.8rem;
}

.footer-list li:hover .list-hover {
  display: block;
}

.list-hover ul li {
  display: block;
  padding: 1rem 0 0;
  line-height: 1.8rem;
  text-align: left;
  white-space: nowrap;
}

.list-hover ul li:first-child {
  padding: 0;
}

.footer-inner {
  width: 128rem;
  margin: 0 auto;
  padding: 0 0 5rem;
  font-size: 1.1rem;
  color: rgba(18, 18, 18, 0.5);
  text-align: center;
}

.footer-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0;
  box-sizing: border-box;
}

.footer-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.1rem;
  height: 100%;
  display: block;
  margin-left: -0.05rem;
  background-color: rgba(0, 0, 0, 0.08);
}

.footer-info-slide {
  width: 50%;
  display: flex;
  margin: 0;
  box-sizing: border-box;
}

.footer-info-slide:first-child {
  padding-right: 2.1rem;
}

.footer-info-slide:last-child {
  padding-left: 2.1rem;
}

.footer-info-slide h2 {
  display: block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: #111;
  text-align: left;
  white-space: nowrap;
}

.footer-txt {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #666;
  text-align: left;
  letter-spacing: 0;
}

.footer-txt ul li {
  display: inline-block;
}

.footer-txt ul > li::before {
  content: "";
  width: 0.1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 0.3rem;
  background: rgba(0, 0, 0, 0.3);
}

.footer-txt ul > li:nth-child(1)::before,
.footer-txt ul > li:nth-child(3)::before,
.footer-txt ul > li:nth-child(5)::before {
  display: none;
}

.footer-txt ul > li.txt2::before {
  display: none;
}

.footer-txt ul > li span::before {
  content: "";
  width: 0.1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 0.3rem;
  background: rgba(0, 0, 0, 0.3);
}
.footer-txt ul > li span:first-child::before {
  display: none;
}

.footer-blue {
  color: #4a95ff;
}

.footer-notice {
  max-width: none;
  display: block;
  margin: 1rem 0 0;
  font-size: 1.1rem;
  text-align: left;
}

.footer-notice p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: rgba(18, 18, 18, 0.4);
  word-break: keep-all;
}
