.recommend-slide-wrap {
  height: 405px;
}

.recommend-slide-item {
  position: relative;
  height: 405px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  border-radius: 1.2rem;
}

.recommend-link {
  height: auto;
  display: block;
}

.recommend-img {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.recommend-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.03);
}

.recommend-img img {
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommend-info {
  position: relative;
  height: calc(100% - 300px);
  padding: 2rem;
}

.recommend-good-list {
  position: relative;
}

.recommend-good-list li {
  position: relative;
  margin-bottom: 10px;
}

.recommend-good-info-price {
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 400;
  color: #111;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recommend-good-info-price b {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #ef3e43;
  margin-right: 0.2rem;
}

.recommend-good-info-price em {
  position: relative;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.recommend-good-info-desc {
  position: relative;
  display: -webkit-box;
  /* 2줄이상 말줄임 */
  overflow: hidden;
  font-size: 1.5rem;
  color: #111;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recommend-slide-item-btnmore {
  height: 42.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommend-link i {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 0 auto 0.6rem;
  background: url(../images/btn_moreProdu.svg) no-repeat 50%;
  border-radius: 5rem;
}

.recommend-slide-item-btnmore .recommend-link > p {
  font-size: 14px;
  text-align: center;
}

.recommend-go {
  position: relative;
  text-align: center;
}
